<li>
{{question.post}} by: {{question.author}}
</li>
<!-- <div class="col-md-12">
  {{#link-to 'question' question.id}}
  <div class="">
    <h1>{{question.post}}</h1>
    <div class="">
      by: {{question.author}}

    </div>
  </div>

{{/link-to}}
</div> -->
