<h1>{{question.author}}'s question:</h1>

<h2>{{question.post}}</h2>

<h3>additional notes: {{question.notes}}</h3>

<h2>Answers</h2>
<ul>
  {{#each question.answers as |answer|}}
  {{answer-tile answer=answer}}
  {{/each}}
</ul>
