<h1>Welcome to the Best Q&A website on the internet!</h1>

<p>We hope you find this website helpful!</p>
<div class="question">


  {{#each model.questions as |question|}}
{{question-tile question=question}}
  {{/each}}


</div>

{{new-question saveQuestion="saveQuestion" }}
