<div class="question">

<h2>More info on {{model.author}}'s Question</h2>

</div>
<div class="question">

{{update-question question=model update="update"}}

{{question-detail question=model}}
</div>

{{new-answer saveAnswer="saveAnswer" question=model}}
